* {
    margin: 0;
}

body,
html {
    background: linear-gradient(to right, #fff, rgb(255, 255, 255));
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1.5rem;
    top: 0;
}

header {
    background: rgb(64, 185, 64);
    height: 4rem;
}

.header-top h2 {
    background: none;
    color: aliceblue;
    line-height: 1.8;
    margin-left: 2rem;
    margin-top: 0rem;
}

.information {
    align-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(to top, rgb(202, 216, 193), rgb(255, 255, 255));
    margin: 2rem;
    border: 5px solid rgba(58, 161, 26, 0.575);
    border-radius: 3px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.information p {
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.8rem;
}

.information label {
    margin-left: 8rem;
    margin-right: auto;
    font-weight: bolder;
    font-size: 2.7rem;
    position: absolute;
}

input {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    height: 2rem;
    width: 29.9rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

input:hover {
    background: rgb(236, 236, 236);
    transition: 0.7s;
}

.submit {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9rem;
    border-radius: 7px;
    padding: 0.8rem;
    width: 30.2rem;
    background: rgb(64, 185, 64);
    color: rgb(255, 255, 255);
    font-size: 1.09rem;
    font-weight: 400;
    letter-spacing: 1.7px;
}

.submit:hover {
    opacity: 70%;
    transition: 0.7s;
}

.information-display {
    padding: 3rem;
    text-align: right;
    margin-left: 5rem;
    margin: 4rem;
}

.information-list {
    color: rgb(48, 48, 48);
    font-size: 1.6rem;
}

.information-display .delete {
    padding: 8px;
    width: 50px;
    border-color: rgb(226, 224, 224);
    font-size: 1rem;
    font-weight: 550;
    background: rgb(175, 72, 54);
    color: #fff;
    margin-top: 0;
}

.information-display .completed {
    padding: 8px;
    width: 50px;
    border-color: rgb(226, 224, 224);
    font-size: 1rem;
    font-weight: 550;
    background: rgb(68, 175, 54);
    color: #fff;
    margin-top: 0;
}

.delete:hover {
    background: rgb(206, 123, 123);
    transition: 1s;
}

.completed:hover {
    background: rgb(118, 219, 105);
    transition: 1s;
}

.information-display a {
    margin: 0.4rem;
    margin-left: auto;
    margin-right: 6rem;
    border: 2px solid #888;
    border-radius: 2px;
    padding: 0.6rem;
    width: 90%;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(72, 77, 77);
}

.information-display .display {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.done {
    opacity: 30%;
    text-decoration: line-through;
    transition: all 0.5s ease;
}

.fall {
    display: inline-block;
    transform: translateY(8rem) rotateZ(20deg);
    transition: 1.5s;
    opacity: 0;
}

select {
    position: absolute;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5rem;
    margin-left: 1rem;
    background: #fff;
    border: none;
}

select:hover {
    background: rgb(199, 199, 199);
}

option {
    background-color: #fff;
    border: none;
    border-top: none;
}

@media(max-width: 898px) {
    .submit {
        width: 10rem;
        height: 2.8rem;
    }
    input {
        width: 10rem;
    }
    .information label {
        margin-left: auto;
        font-size: 2rem;
    }
    .information p {
        padding: 1px;
    }
    .delete {
        padding: 1px;
    }
}